#!/usr/bin/env bash

# Base Django settings
export DEBUG=${DEBUG:-1} #  Set to 0 in production; default is 1 for local development.

export SECRET_KEY=''  #  Replace this with a strong, unpredictable key in

# You can list multiple hosts separated by spaces.
# In production, include your Azure hostname (e.g. yourapp.azurewebsites.net)
export DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS:-"localhost 127.0.0.1 [::1]"}

# PostgreSQL Credentials (local 'db' service)
export POSTGRES_DB=database_name
export POSTGRES_USER=your_postgres_user
export POSTGRES_PASSWORD=your_secret_password

# Django will pick these up for its DATABASES block:
export DB_ENGINE=django.db.backends.postgresql # or use `django.contrib.gis.db.backends.postgis` for GeoLocation support
export DB_NAME=$POSTGRES_DB
export DB_USER=$POSTGRES_USER
export DB_PASSWORD=$POSTGRES_PASSWORD
export DB_HOST=${DB_HOST:-db}
export DB_PORT=${DB_PORT:-5432}

# Azure Blob Storage (production only)
# These three must be set in your Azure App Service configuration.
# You can leave them blank locally.
export AZURE_ACCOUNT_NAME=${AZURE_ACCOUNT_NAME:-""}
export AZURE_ACCOUNT_KEY=${AZURE_ACCOUNT_KEY:-""}
export AZURE_CONTAINER=${AZURE_CONTAINER:-"folder-name"}

# Any other variables for third-party services
SENTRY_DSN=https://<key>@o<org>.ingest.sentry.io/<project>
# export OTHER_API_KEY=…
